    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    #logo {
        width: 100px;
    }
    
    .top-navbar {
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 5px;
        align-items: center;
        border-color: black;
    }
    
    .top-navbar a {
        text-decoration: none;
        color: black;
        padding: 10px;
    }
    
    .top-navbar a:hover {
        background-color: red;
    }
    
    .search img {
        color: black;
        width: 20px;
    }
    
    .hero {
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 15px;
        align-items: center;
    }
    
    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        padding: 60px;
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 20px;
        border: 10px;
    }
    
    .content img {
        width: 100%;
        object-fit: contain;
        border: 0 10px;
    }
    
    .content div {
        position: relative;
    }
    
    .content p {
        color: white;
        position: absolute;
        bottom: 2%;
        background-color: rgba(128, 128, 128, 0.596);
        width: 100%;
        text-align: center;
        padding: 15px;
    }
    
    footer {
        color: black;
        text-align: center;
        padding: 20px;
        background-color: black;
    }
    
    footer .bottom-navbar {
        display: flex;
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: black;
        padding: 30px;
        text-align: center;
        justify-content: space-between;
    }
    
    .bottom-navbar a {
        display: flex;
        position: relative;
        justify-content: space-between;
        gap: 2px;
        color: white;
        text-decoration: wavy;
        font-size: 14px;
        text-align: center;
    }
    
    footer.social-icon {
        display: flex;
        justify-content: center;
    }
    
    .social-icon i {
        margin: 0, 10px;
        text-decoration: none;
    }
    
    .social-icon img {
        width: 150px;
    }
    
    footer p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: italic;
        padding: 20px;
        text-align: center;
        color: white;
    }
    
    @media (481px <width <=768px) {
        #logo {
            font-size: x-large;
        }
        .navbar {
            font-size: 95%;
        }
        .herosection {
            font-size: 80%;
        }
        .content {
            grid-template-columns: repeat(2, minmax(300px, 1fr));
            p {
                padding: 0;
                font-size: 10px;
            }
            gap:10px;
            justify-content:center;
        }
        .footer {
            font-size: 90%;
            grid-template-rows: minmax(50px, repeat(3, auto));
            .info {
                padding-top: 5px
            }
            ;
            justify-content: center;
            .about {
                clear: right;
                padding-left: 10px;
                padding-right: 10px;
            }
            .recipes {
                clear: right;
                padding-left: 10px;
                padding-right: 10px;
            }
            .faq {
                clear: right;
                padding-left: 10px;
                padding-right: 10px;
            }
            .contactus {
                clear: right;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }